<html>
  <body>
    <form method="post">
      name=     <input type="text" name="txt1" required>
      <br>
      mobile=   <input type="text" name="txt2" required>
      <br>
      email=    <input type="text" name="txt3" required>
      <br>
      password= <input type="text" name="txt4" required>
      <br>
      <input type="submit">
    </form>
  </body>
</html>